<div id="title">
    <img src="https://firebasestorage.googleapis.com/v0/b/gadma-obras.appspot.com/o/WhatsApp%20Image%202024-06-26%20at%2022.43.30.jpeg?alt=media&token=3c006786-b885-468d-b30b-9855fa2fc77c" alt="Descripción de la imagen" style="width: 38%; border-radius: 25px;">
    <h1>{{title}}</h1>
    <img src="" alt="">
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
    <div style="text-align: center;">
          <audio #audioPlayer controls class="audio-player">
            <source src="https://firebasestorage.googleapis.com/v0/b/gadma-obras.appspot.com/o/Myke%20Towers%20-%20La%20Falda%20%20LoFi%20HITS%20Melodi%CC%81as%20Lofi%20Para%20Concentracio%CC%81n%20Y%20Paz_%20Tu%20Momento%20De%20Serenidad.mp3?alt=media&token=89b9e506-bb2c-4802-a377-30a2a817995e" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
    </div>
    
</div>
<article class="about">
    <h2>Sobre mí</h2>
    <p>
        "Soy un desarrollador web que baila al ritmo de la cumbia turra mientras codeo. Siempre estoy buscando la próxima tecnología emocionante para aprender, ¡pero nunca dejo de lado mis pasitos turros! 💃💻 ¡Conmigo, la programación es un ritmo que nunca se detiene! 🎶 <br> #CumbiaCoder #CodeAndDance"
    </p>
</article>
